<!-- index.html -->
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Welcome to the Schedule Generator</h1>
  <form action="/schedule" method="post">

    <label for="course1" class="course-label">Course 1: </label>
    <input type="text" id="course1" name="course1" class="course-input"><br>

    <label for="course2" class="course-label">Course 2: </label>
    <input type="text" id="course2" name="course2" class="course-input"><br>

    <label for="course3" class="course-label">Course 3: </label>
    <input type="text" id="course3" name="course3" class="course-input"><br>

    <label for="course4" class="course-label">Course 4: </label>
    <input type="text" id="course4" name="course4" class="course-input"><br>

    <label for="course5" class="course-label">Course 5: </label>
    <input type="text" id="course5" name="course5" class="course-input"><br>
    
    <label for="course6" class="course-label">Course 6: </label>
    <input type="text" id="course6" name="course6" class="course-input"><br>


    <!-- Add more form inputs for additional courses if needed -->

    <button type="submit">Generate Schedule</button>
  </form>
</body>
</html>
